/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    max-width: 460px;
    margin: 0 auto;
}

/* header */
.header-container {
    background-image: url("Assets/iPhone\ Mockup.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-color: #013342;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    
}

.title {
    color: white;
    padding-top: 1em;
    padding-bottom: 0.25em;
}

.app-description {
    color: #79D3E3;
    font-weight: 400;
}

/* tablet body */
@media only screen and (min-width: 768px) {
    body {
        background-image: url("Assets/Background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        height: 100%;
        max-width: 460px;
        margin: 0 auto;
        
    }
    header,
    .hero,
    .login-container {
        max-width: 460px;
    }
    
   
}

/* desktop */
@media only screen and (min-width: 1040px) {
    main {
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: stretch;
        justify-content: center;
        padding-top: 8em;
        max-width: 100%;
    }
    
    
      .header-container {
        border-radius: 8px;
        padding-top: 2em;
        padding-bottom: 4em;
        flex: 1;
        
        
      }
      
      .login-container {
           border-radius: 8px;
           padding-top: 2em;
           padding-bottom: 4em;
           flex: 1;
      }
      
      
}


